DOMAIN,oreilly.com,DIRECT
DOMAIN-SUFFIX,gov.cn,DIRECT
DOMAIN-SUFFIX,aliyun-inc.com,DIRECT
DOMAIN-SUFFIX,alicdn.com,DIRECT
DOMAIN-SUFFIX,amap.com,DIRECT
DOMAIN-SUFFIX,amap.com,DIRECT
DOMAIN-SUFFIX,skype.com,DIRECT
DOMAIN-SUFFIX,qq.com,DIRECT
DOMAIN-SUFFIX,qpic.cn,DIRECT
DOMAIN-SUFFIX,qlogo.cn,DIRECT
DOMAIN-SUFFIX,myqcloud.com,DIRECT
DOMAIN-SUFFIX,servicewechat.com,DIRECT
DOMAIN-SUFFIX,haokanmingpian.com,DIRECT
PROCESS-NAME,ssh,DIRECT
PROCESS-NAME,v2ray,DIRECT
PROCESS-NAME,QQLive,DIRECT
