DOMAIN,oreilly.com
DOMAIN,wechat.todesk.com
DOMAIN-SUFFIX,feishu.cn
DOMAIN-SUFFIX,gov.cn
DOMAIN-SUFFIX,aliyun.com
DOMAIN-SUFFIX,aliyun-inc.com
DOMAIN-SUFFIX,alicdn.com
DOMAIN-SUFFIX,amap.com
DOMAIN-SUFFIX,amap.com
DOMAIN-SUFFIX,skype.com
DOMAIN-SUFFIX,qq.com
DOMAIN-SUFFIX,qpic.cn
DOMAIN-SUFFIX,qlogo.cn
DOMAIN-SUFFIX,myqcloud.com
DOMAIN-SUFFIX,servicewechat.com
DOMAIN-SUFFIX,haokanmingpian.com
PROCESS-NAME,v2ray
PROCESS-NAME,QQLive
